

  <div class="page">

    <!-- NAVBAR -->
    <header class="navbar">
      <div class="logo">Sb.</div>

      <nav class="nav-links">
        <a href="#" class="nav-item active">
          <i class="fa-solid fa-house"></i>
          <span>Home</span>
        </a>

        <a href="#about" class="nav-item">
          <i class="fa-regular fa-user"></i>
          <span>About</span>
        </a>

        <a href="#projects" class="nav-item">
          <i class="fa-solid fa-code"></i>
          <span>Projects</span>
        </a>

        <a href="#resume" class="nav-item">
          <i class="fa-regular fa-file-lines"></i>
          <span>Resume</span>
        </a>

        <a href="#blogs" class="nav-item">
          <i class="fa-solid fa-blog"></i>
          <span>Blogs</span>
        </a>
      </nav>

      <button class="theme-btn">
        <i class="fa-solid fa-moon"></i>
        <i class="fa-solid fa-star"></i>
      </button>
    </header>

    <!-- HERO -->
    <section class="section hero">
      <div class="hero-left">
        <p class="hello">Hi There! 👋</p>
        <h1>I'M <span>MOHEED SHAIK</span></h1>
        <p class="role">Software Developer</p>
      </div>
    </section>

    <!-- ABOUT -->
    <section class="section about" id="about">
      <h2>LET ME <span>INTRODUCE</span> MYSELF</h2>
      <p>
        I'm a Software Engineer who loves clean UI, scalable systems and modern
        frontend architecture.
      </p>
    </section>

  </div>

