<div class="page">

  <!-- NAVBAR -->
  <header class="navbar">
    <div class="logo">SM.</div>

    <nav class="nav-links">
      <a class="nav-item active"><i class="fa-solid fa-house"></i> Home</a>
      <a class="nav-item"><i class="fa-regular fa-user"></i> About</a>
      <a class="nav-item"><i class="fa-solid fa-code"></i> Projects</a>
      <a class="nav-item"><i class="fa-regular fa-file-lines"></i> Resume</a>
      <a class="nav-item"><i class="fa-solid fa-blog"></i> Blogs</a>
    </nav>

    <button class="theme-btn">🌙 ⭐</button>
  </header>

  <!-- HERO (THIS WAS MISSING) -->
<section class="hero">
  <div class="hero-left">
   <h1>
  Hi There <span class="wave" [class.animate]="startWave">👋</span>
</h1>

    <h2>I'M <span>SHAIK MOHEED</span></h2>
    <h3 class="typing">
      {{ displayText }}
    </h3>

  </div>

  <div class="hero-right">
    <img src="assets/images/dev-illustration.svg" alt="Developer illustration">
  </div>
</section>


</div>
