/* RESET */
html, body {
  margin: 0;
  height: 100%;
  background: #0b0616;
  font-family: "Segoe UI", sans-serif;
}

/* PAGE */
.page {
  min-height: 100vh;
  background: radial-gradient(circle at top right, #2b1b4d, #0b0616);
  color: #fff;
  position: relative;
}

/* DOTS */
.page::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: radial-gradient(#fff 1px, transparent 1px);
  background-size: 60px 60px;
  opacity: 0.12;
  pointer-events: none;
}



.navbar {
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  padding: 18px 60px;
  backdrop-filter: blur(10px);
  background: rgba(15, 8, 30, 0.65);
}

/* push nav + button to the right */
.nav-links {
  display: flex;
  gap: 40px;
  margin-left: auto;      
  font-size: 20px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #c084fc;
  margin-left: 59px;
}


.nav-item {
  display: flex;          /* ✅ REQUIRED */
  align-items: center;    /* keeps icon & text aligned */
  gap: 15px;               /* 2–3px space */
  
  color: #ddd;
  text-decoration: none;
  position: relative;
  padding-bottom: 6px;
}



.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background: #c084fc;
  transform: translateX(-50%);
  transition: width 0.25s ease;
  cursor: pointer;
}


.nav-item:hover::after {
  width: 88px;
}

.theme-btn {
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #6d28d9, #9333ea);
  color: #fff;
  margin-left: 16px; 
  margin-right: 68px
}



/* HERO (fills screen so background shows) */
/* .hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

} */

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;   /* 👈 change this */
  padding: 60px 60px 0;      /* top padding controls gap */
  font-size: 2.4em !important;
  font-family: PT Mono, monospace !important
}


.hero-left {
  max-width: 50%;
  margin-left: 53px;
}

.hero-left h1 {
  font-size: 42px;
  margin-bottom: 10px;
}


.wave {
  display: inline-block;
  transform-origin: 70% 70%;
}

/* animation runs ONLY when class is added */
.wave.animate {
  animation: wave-hand 1.5s ease-in-out 1;
}

@keyframes wave-hand {
  0%   { transform: rotate(0deg); }
  15%  { transform: rotate(14deg); }
  30%  { transform: rotate(-8deg); }
  45%  { transform: rotate(14deg); }
  60%  { transform: rotate(-4deg); }
  75%  { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}



.typing::after {
  content: "|";
  margin-left: 2px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}



.hero-left h2 {
  font-size: 48px;
  margin: 10px 0;
}

.hero-left h2 span {
  color: #c084fc;
}

.hero-left h3 {
  font-size: 32px;
  color: #c084fc;
  margin-top: 10px;
}

.hero-right img {
  max-width: 420px;
}

